.stand
{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}
.logo1
{
    height: 150px;
    width: 150px;
}
.logo
{
    margin-bottom: 0%;
    font-size: 50px;
    text-shadow: 3px 3px 10px rgba(2, 51, 80, 0.61);
}
.tlog
{
    font-size: 20px;
    margin-top: 0%;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(2, 51, 80, 0.61);
}
.it
{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    padding-top: 100px;
}
.prime
{
    height: 200px;
    width: 300px;
    border-radius: 8px;
    padding-top: 4px;
}
.clas
{
    height: 200px;
    width: 300px;
    border-radius: 8px;
    padding-top: 4px;
}
.normal
{
    height: 200px;
    width: 300px;
    border-radius: 8px;
    padding-top: 4px;
}
.lux
{
    border: 3px solid rgb(105, 90, 62);
    width: 310px;
    height: 470px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px black;
    transition: transform(0.4);
}
.lux:hover
{
    transform: translateY(-6px);
}
.classic
{
    border: 3px solid rgb(105, 90, 62);
    width: 310px;
    height: 470px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px black;
    transition: transform(0.4);
}
.classic:hover
{
    transform: translateY(-6px);
}
.nor
{
    border: 3px solid rgb(105, 90, 62);
    width: 310px;
    height: 470px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px black;
    transition: transform(0.4);
}
.nor:hover
{
    transform: translateY(-6px);
}
.ro1
{
    font-weight: bold;
    font-size: 30px;
    margin-top: 3px;
    margin-bottom: 0%;
    text-shadow: 2px 2px 5px black;
}
.ro2
{
    font-weight: bold;
    font-size: 30px;
    margin-top: 3px;
    margin-bottom: 0%;
    text-shadow: 2px 2px 5px black;
}
.ro3
{
    font-weight: bold;
    font-size: 30px;
    margin-top: 3px;
    margin-bottom: 0%;
    text-shadow: 2px 2px 5px black;
}
.fac1
{
    font-size: 25px;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 0%;
}
.fac2
{
    font-size: 25px;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 0%;
}
.fac3
{
    font-size: 25px;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 0%;
}
.pickup1
{
    font-weight: bold;
}
.pickup2
{
    font-weight: bold;
}.pickup3
{
    font-weight: bold;
}
.per1
{
    font-weight: bold;
}
.per2
{
    font-weight: bold;
}
.per3
{
    font-weight: bold;
}
.book
{
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 50px;
}
.ddddd
{
    background-image: url(hotelcar.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.title1
{
    font-size: 40px;
    font-weight: bold;
    text-shadow: 4px 4px 5px rgba(230, 123, 36, 0.801);
}
.place1
{
    padding: 12px 150px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 8px;
}
.place2
{
    padding: 12px 150px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 8px;
}
.place3
{
    padding: 12px 220px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 8px;
}
.place4
{
    padding: 12px 220px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 8px;
}
.s1
{
    padding: 12px 230px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 8px;
}
.place5
{
    padding: 12px 150px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 8px;
}
.data1
{
    font-size: 20px;
    font-weight: bold;
}
.place6
{
    padding: 12px 150px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 8px;
}
.place7
{
    padding: 12px 150px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 8px;
}
.bbt
{
    padding: 12px 150px;
    font-size: 15px;
    border-radius: 8px;
}
.detail
{
    font-size: 40px;
    font-weight: bold;
}
.sujal
{
    font-size: 20px;
    font-weight: bold;
}
.no{
    font-size: 22px;
}
.nn
{
    font-size: 22px;
    padding-left: 80px;
    padding-right: 80px;
}
.cc{
    font-size: 22px;
    padding-left: 80px;
    padding-right: 80px;
}
.pp{
    font-size: 22px;
    padding-left: 80px;
    padding-right: 80px;
}
.rr{
    font-size: 22px;
    padding-left: 80px;
    padding-right: 80px;
}
.trtr
{
    font-size: 20px
}